#loggedIn{
	padding-bottom: 70px;
}

.carousel-image {
	width:100%;
	margin-top:-100px ;
}

.navbar{
	color: #FFF;
}

.artist-panel .badge{
	margin-left: 5px;
	margin-bottom: 3px;
}

#logo {
	color: white;
	font-size: 40px;
}

#carousel-example-generic {
	float: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    text-align: center;

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
}

#carousel-1 {
	text-align: center;
}

#imageSix {
	position:relative;
	top: -50px;
}

#imageTwo {
	position:relative;
	top: -100px;
}

#imageFour {
	position:relative;
	top: 100px;
}

.item {
	height:420px;
}

.jumbotron{
	text-align: center;
}

.event{
	text-align: left;
	padding: 15px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #EEE;
}

.event-links{
	border-top: 1px solid #d5d5d5;
	padding-top: 15px;
	width: 100%;
}

.event-links a{
	margin-left: 15px;
	float: right;
}

.event-info{
	font-size: 17px !important;
}

.event-name{
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.event-detail{
	margin-bottom: 5px;
	font-size: 15px !important;
}

.event-image{
	float: left;
	height: 150px;
	width: 200px;
	margin-right: 15px;
}

.more-info-button{
	margin-top: 15px;
	margin-bottom: 15px;
}

.well{
	margin-bottom: 15px;
}

.no-results{
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 18px;
}

.search-form{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D5D5D5;
}

.navbar button{
	margin-right: 15px;
}

.artist{
	border: 1px solid #D5D5D5;
	border-radius: 0;
	height: 132px;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}

.artist-name{
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
}

.artist-detail{
	font-size: 13px;
	margin: 2px 0;
}

.artist-image{
	float: left;
	width: 130px;
	height: 130px;
	margin-right: 10px;
}

.artist button{
	position: absolute;
	bottom: 0;
	left: 130px;
	width: calc(100% - 130px);
	border-radius: 0;
}

#token-timer{
	text-align: center;
}

.panel-title{
	padding-top: 5px;
}

.panel-button{
	margin-top: 15px;
}

.fa-body{
	max-height: 800px;
	overflow-x: hidden;
	overflow-y: auto;
}

.footer {
    background-color: #222;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(10,255,0, 0.2);
  border-right: 1.1em solid rgba(10,255,0, 0.2);
  border-bottom: 1.1em solid rgba(10,255,0, 0.2);
  border-left: 1.1em solid #1DB954;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 640px) {
    .event-image {
        float: none;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.animation-target {
	-webkit-animation: animation 1000ms linear both;
	animation: animation 1000ms linear both;
  }

  /* Generated with Bounce.js. Edit at https://goo.gl/Ve1dv6 */

  @-webkit-keyframes animation {
	0% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.4% { -webkit-transform: matrix3d(1.684, 0, 0, 0, 0, 2.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.684, 0, 0, 0, 0, 2.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { -webkit-transform: matrix3d(1.55, 0, 0, 0, 0, 2.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.55, 0, 0, 0, 0, 2.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.81% { -webkit-transform: matrix3d(1.341, 0, 0, 0, 0, 1.914, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.341, 0, 0, 0, 0, 1.914, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { -webkit-transform: matrix3d(1.117, 0, 0, 0, 0, 1.463, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.117, 0, 0, 0, 0, 1.463, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.21% { -webkit-transform: matrix3d(1.058, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.058, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	13.61% { -webkit-transform: matrix3d(0.877, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.877, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { -webkit-transform: matrix3d(0.859, 0, 0, 0, 0, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.859, 0, 0, 0, 0, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.52% { -webkit-transform: matrix3d(0.792, 0, 0, 0, 0, 0.422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.792, 0, 0, 0, 0, 0.422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { -webkit-transform: matrix3d(0.788, 0, 0, 0, 0, 0.398, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.788, 0, 0, 0, 0, 0.398, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	21.32% { -webkit-transform: matrix3d(0.804, 0, 0, 0, 0, 0.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.804, 0, 0, 0, 0, 0.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { -webkit-transform: matrix3d(0.849, 0, 0, 0, 0, 0.537, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.849, 0, 0, 0, 0, 0.537, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25.23% { -webkit-transform: matrix3d(0.866, 0, 0, 0, 0, 0.579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.866, 0, 0, 0, 0, 0.579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.03% { -webkit-transform: matrix3d(0.937, 0, 0, 0, 0, 0.769, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.937, 0, 0, 0, 0, 0.769, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { -webkit-transform: matrix3d(0.952, 0, 0, 0, 0, 0.814, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.952, 0, 0, 0, 0, 0.814, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	36.74% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.074, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 1.074, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { -webkit-transform: matrix3d(1.039, 0, 0, 0, 0, 1.13, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.039, 0, 0, 0, 0, 1.13, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	44.44% { -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.034, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 1.03, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 1.03, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	59.86% { -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { -webkit-transform: matrix3d(0.993, 0, 0, 0, 0, 0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.993, 0, 0, 0, 0, 0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75.28% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	90.69% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  }

  @keyframes animation {
	0% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.4% { -webkit-transform: matrix3d(1.684, 0, 0, 0, 0, 2.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.684, 0, 0, 0, 0, 2.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { -webkit-transform: matrix3d(1.55, 0, 0, 0, 0, 2.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.55, 0, 0, 0, 0, 2.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.81% { -webkit-transform: matrix3d(1.341, 0, 0, 0, 0, 1.914, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.341, 0, 0, 0, 0, 1.914, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { -webkit-transform: matrix3d(1.117, 0, 0, 0, 0, 1.463, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.117, 0, 0, 0, 0, 1.463, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.21% { -webkit-transform: matrix3d(1.058, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.058, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	13.61% { -webkit-transform: matrix3d(0.877, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.877, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { -webkit-transform: matrix3d(0.859, 0, 0, 0, 0, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.859, 0, 0, 0, 0, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.52% { -webkit-transform: matrix3d(0.792, 0, 0, 0, 0, 0.422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.792, 0, 0, 0, 0, 0.422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { -webkit-transform: matrix3d(0.788, 0, 0, 0, 0, 0.398, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.788, 0, 0, 0, 0, 0.398, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	21.32% { -webkit-transform: matrix3d(0.804, 0, 0, 0, 0, 0.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.804, 0, 0, 0, 0, 0.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { -webkit-transform: matrix3d(0.849, 0, 0, 0, 0, 0.537, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.849, 0, 0, 0, 0, 0.537, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25.23% { -webkit-transform: matrix3d(0.866, 0, 0, 0, 0, 0.579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.866, 0, 0, 0, 0, 0.579, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.03% { -webkit-transform: matrix3d(0.937, 0, 0, 0, 0, 0.769, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.937, 0, 0, 0, 0, 0.769, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { -webkit-transform: matrix3d(0.952, 0, 0, 0, 0, 0.814, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.952, 0, 0, 0, 0, 0.814, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	36.74% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.074, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 1.074, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { -webkit-transform: matrix3d(1.039, 0, 0, 0, 0, 1.13, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.039, 0, 0, 0, 0, 1.13, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	44.44% { -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.034, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 1.03, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 1.03, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	59.86% { -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { -webkit-transform: matrix3d(0.993, 0, 0, 0, 0, 0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.993, 0, 0, 0, 0, 0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75.28% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	90.69% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  }