.navbar {
	background: black;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.carousel-image {
	width:100%;
	margin-top:-100px ;
}

#carousel-example-generic {
	/*height: 50%;*/
}

/*#photo1 {
	width: 50%;
	height: 80%;

}

#photo2 {
	width: 50%;
	height: 80%;
}

#photo3 {
	width: 50%;
	height: 80%;
	
}

#photo4 {
	width: 50%;
	height: 80%;
	
}

#photo5 {
	width: 50%;
	height: 80%;
	
}*/


#logo {
	color: white;
	font-size: 40px;
}

#table {
	float: left;

}

#carousel-1 {
	text-align: center;
}

#first-row {
	background: black;
	color: white;
}

#second-row,
#third-row,
#forth-row,
#fifth-row {
	background: #F0F0F0;
	color: black;
}

.item {
	height:420px;    /*height of carrosel*/
}





