.navbar {
	background-color: black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#logo {
	color: #bce3ff;
	font-size: 40px;
}

#event-panel {
    border: 3px solid #bce3ff;
    text-align: center;
	float: right;
    width: 300px;
    padding: 10px;
}